.fullWebsite{
  height: 100%;
}

.map {
  position: fixed;
  top: 20;
  left: 0;
}

.mapCanvas {
  position: fixed;
  top: 20;
  left: 0;
  pointer-events: none;
}

.tweetsResults {
  position: fixed;
  width:700px;
  top: 20;
  right: 0;
  overflow:scroll;
  height: 100%;
}
